:root {
  --main-color: #52734d;
  --second-color: #91c788;
  --third-color: #ddffbc;
  --bg-color: #feffde;
}

body {
  background-color: var(--bg-color);
}

/*********** NavBar **************/

header {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 5px;
  border-color: gray;
  border-bottom-style: solid;
}

.nav-link {
  color: var(--bg-color);
  margin: auto 20px;

  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--bg-color);
  opacity: 60%;
}

/*************************/

/*********** Section General **************/

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  position: relative;
}

.elementBlock {
  background-color: var(--main-color);
  margin: 50px;
  border-radius: 20px;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.bgPic {
  width: 30%;
  position: absolute;
  z-index: 0;
  opacity: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.elementBlock:hover {
  box-shadow: 0 0 3rem var(--bg-color) !important;
  transition: all 200ms ease-in-out;
}

.cardPic {
  width: 250px;
  border-radius: 20px;
}

.elementBlock img {
  margin: 10px;
}

.cardInfo p {
  background-color: var(--third-color);
  padding: 10px 15px;
  margin: 10px 10px 0px;
  border-radius: 10px;
  text-align: justify;
  transition: all 200ms ease-in-out;
}

.cardName p {
  background-color: var(--third-color);
  padding: 10px 15px;
  margin: 0px auto 10px;
  border-radius: 10px;
  width: fit-content;
  text-align: justify;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 200ms ease-in-out;
}

.cardRole p {
  font-size: 1.4em;
  text-align: left;
  transition: all 200ms ease-in-out;
}

.cardDates p {
  font-size: 0.8em;
  transition: all 200ms ease-in-out;
}

.gradientDown {
  background: linear-gradient(
    to bottom,
    var(--second-color) 0%,
    var(--bg-color) 100%
  );
  height: 100px;
}

.gradientUp {
  background: linear-gradient(
    to top,
    var(--second-color) 0%,
    var(--bg-color) 100%
  );
  height: 100px;
}

/*************************/

/*********** Presentation **************/

#presentationSection {
  text-align: center;
}

.profilePic {
  border-radius: 100%;
  margin-top: 80px;
}

/*************************/

/*********** WorkExp **************/

#workExpSection {
  background-color: var(--second-color);
}

#workExpSection .bgPic {
  transform: rotate(35deg);
}

/*************************/

/*********** Education **************/

#EduSection .elementBlock:hover {
  box-shadow: 0 0 3rem black !important;
}

/*************************/

/*********** Knowledge **************/

#KnowledgeSection {
  background-color: var(--second-color);
}

.knowledgeBlock {
  margin: 50px;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.knowledgeSubBlock .bgPic {
  position: relative;
}

.knowledgeSubBlock {
  border-radius: 20px;
  border: 10px;
  border-style: solid;
  border-color: var(--main-color);
  padding: 20px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.knowledgeBlock h3 {
  text-align: center;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 10px;
  color: var(--third-color);
}

/*************************/

/*********** Tech **************/

#techKnow {
  background-image: url("../images/tech.png");
}

.techBlock {
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  margin: 20px 15px;
}

.techBlock:hover {
  box-shadow: 0 0 1rem var(--bg-color) !important;
  transition: all 200ms ease-in-out;
}

.techBlock p {
  background-color: var(--third-color);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.techBlock img {
  width: 100px;
  margin: 5px 5px 0px;
  border-radius: 10px;
}

#embSys-card {
  font-size: 0.7em;
  padding: 2px;
}

/*************************/

/*********** Language **************/

#langKnow {
  background-image: url("../images/lang.png");
}

.langBlock {
  background-color: #52734d;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.langBlock img {
  width: 150px;
  margin: 10px;
  border-radius: 100%;
  border: 5px solid var(--second-color);
}

.langBlock p {
  background-color: #91c788;
  margin: 0px 10px 10px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.container h4 {
  margin-bottom: 12px;
}

.leftLangBlock {
  text-align: right;
}

.langBlock:hover {
  box-shadow: 0 0 1rem var(--bg-color) !important;
  transition: all 200ms ease-in-out;
}

#spanishBlock {
  background-color: #cb0d12;
}
#englishBlock {
  background-color: #002069;
}
#japaneseBlock {
  background-color: white;
}

#spanishBlock p {
  background-color: #ffbe00;
}
#englishBlock p {
  background-color: #c80c22;
}
#japaneseBlock p {
  background-color: #bb002b;
  color: white;
}

/*************************/

/*********** Contact **************/

#contactSection {
  text-align: center;
}

#contactSection form {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

input,
textarea {
  width: 100%;
  margin: 10px auto;
}

input:not(.btn),
textarea {
  background-color: var(--third-color);
  border: 0;
  border-radius: 10px;
  padding: 7px;
  resize: none;
}

#contactSection .btn {
  background-color: var(--second-color);
  color: black;
  transition: all 200ms ease-in-out;
}

#contactSection .btn:hover {
  background-color: black;
  color: var(--second-color);
  transition: all 200ms ease-in-out;
}

.mailPic {
  margin-left: 0px;
  z-index: -1;
}

/*************************/

/*********** Footer **************/

footer {
  background-color: var(--second-color);
  padding: 50px 100px;
}

footer img {
  width: 30%;
  margin: 10px;
  opacity: 50%;
  transition: all 200ms ease-in-out;
}

footer img:hover {
  opacity: 100%;
}

.footerNote {
  text-align: center;
}

footer .btn {
  background-color: black;
  color: var(--second-color);
  width: 75%;
  transition: all 300ms ease-in-out;
}

footer .btn:hover {
  color: var(--second-color);
  width: 100%;
  transition: all 300ms ease-in-out;
}

/*************************/
