:root {
  --main-color: #52734d;
  --second-color: #91c788;
  --third-color: #ddffbc;
  --bg-color: #feffde;
}

body {
  background-color: var(--bg-color);
}

/*********** NavBar **************/

header {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 5px;
  border-color: gray;
  border-bottom-style: solid;
}

.nav-link {
  color: var(--bg-color);
  margin: auto 20px;

  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--bg-color);
  opacity: 60%;
}

/*************************/

/*********** Section General **************/

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  position: relative;
}

.elementBlock {
  background-color: var(--main-color);
  margin: 50px;
  border-radius: 20px;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.elementBlock:hover {
  box-shadow: 0 0 3rem var(--bg-color) !important;
  transition: all 200ms ease-in-out;
}

.bgPic {
  width: 30%;
  position: absolute;
  opacity: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

.sectionRow {
  padding: 20px;
}

.cardPic {
  width: 250px;
  border-radius: 20px;
  margin: 10px;
}

.cardInfo {
  background-color: var(--third-color);
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: justify;
}

.cardName {
  padding: 10px;
}

.cardName p {
  background-color: var(--third-color);
  padding: 10px 15px;
  margin: 0px auto 10px;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.cardRole {
  font-size: 1.4em;
  text-align: left;
  margin: 10px 10px 0;
}

#nttDataRole {
  font-size: 1.3em;
}

.cardDates {
  font-size: 0.8em;
}

.gradientDown {
  background: linear-gradient(
    to bottom,
    var(--second-color) 0%,
    var(--bg-color) 100%
  );
  height: 100px;
}

.gradientUp {
  background: linear-gradient(
    to top,
    var(--second-color) 0%,
    var(--bg-color) 100%
  );
  height: 100px;
}

/*************************/

/*********** Presentation **************/

#presentationSection {
  text-align: center;
}

.profilePic {
  border-radius: 100%;
  margin: 80px auto 10px;
  width: 30%;
}

/*************************/

/*********** WorkExp **************/

#workExpSection {
  background-color: var(--second-color);
}

#workExpSection .bgPic {
  transform: rotate(35deg);
}

/*************************/

/*********** Education **************/

#EduSection .elementBlock:hover {
  box-shadow: 0 0 3rem black !important;
}

/*************************/

/*********** Knowledge **************/

#KnowledgeSection {
  background-color: var(--second-color);
}

.knowledgeBlock {
  margin: 50px;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.knowledgeSubBlock {
  border-radius: 20px;
  border: 10px;
  border-style: solid;
  border-color: var(--main-color);
  padding: 20px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.knowSubBlockTitle {
  text-align: center;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 10px;
  color: var(--third-color);
}

/*************************/

/*********** Tech **************/

.knowBgPic {
  width: 100%;
  z-index: -1;
}

.techBlock {
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  margin: 20px 15px;
}

.techBlock:hover {
  box-shadow: 0 0 1rem var(--bg-color) !important;
  transition: all 200ms ease-in-out;
}

.techName {
  background-color: var(--third-color);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.techPic {
  width: 100px;
  margin: 5px 5px 0px;
  border-radius: 10px;
}

#embSys-card {
  font-size: 0.7em;
  padding: 2px;
}

/*************************/

/*********** Language **************/

.langBlock {
  background-color: #52734d;
  border-radius: 20px;
  margin: auto 20px;
  transition: all 200ms ease-in-out;
}

.flagPic {
  width: 150px;
  margin: 10px;
  border-radius: 100%;
  border: 5px solid var(--second-color);
}

.langName {
  background-color: #91c788;
  margin: 0px 10px 10px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.levelTitle {
  margin-bottom: 12px;
}

.leftLangBlock {
  text-align: right;
}

.langBlock:hover {
  box-shadow: 0 0 1rem var(--bg-color) !important;
  transition: all 200ms ease-in-out;
}

#spanishBlock {
  background-color: #cb0d12;
}
#englishBlock {
  background-color: #002069;
}
#japaneseBlock {
  background-color: white;
}

#spanishBlock .langName {
  background-color: #ffbe00;
}
#englishBlock .langName {
  background-color: #c80c22;
}
#japaneseBlock .langName {
  background-color: #bb002b;
  color: white;
}

/*************************/

/*********** Contact **************/

#contactSection {
  text-align: center;
}

#contactForm {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

#contactForm :is(input, textarea) {
  width: 100%;
  margin: 10px auto;
}

input:not(.btn),
textarea {
  background-color: var(--third-color);
  border: 0;
  border-radius: 10px;
  padding: 7px;
  resize: none;
}

.sendMessageBtn {
  background-color: var(--second-color);
  color: black;
  transition: all 200ms ease-in-out;
}

.sendMessageBtn:hover {
  background-color: black;
  color: var(--second-color);
  transition: all 200ms ease-in-out;
}

.mailPic {
  margin-left: 0px;
  z-index: -1;
}

/*************************/

/*********** Footer **************/

footer {
  background-color: var(--second-color);
  padding: 50px 50px;
  text-align: center;
}

.footerIcon {
  width: 30%;
  margin: 10px;
  opacity: 50%;
  transition: all 200ms ease-in-out;
}

.footerIcon:hover {
  opacity: 100%;
}

.footerBtn {
  background-color: black;
  color: var(--second-color);
  width: 75%;
  transition: all 300ms ease-in-out;
}

.footerBtn:hover {
  color: var(--second-color);
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  transition: all 300ms ease-in-out;
}

/*************************/

/*********** Media Breakpoints **************/

/* XS screen */
@media screen and (max-width: 600px) {
  .profilePic {
    width: 60%;
  }

  .cardPic {
    width: 150px;
    margin-right: 0;
  }
  .bgPic {
    width: 50%;
  }

  .elementBlock {
    margin-top: 20px;
  }

  .knowBgPic {
    width: 100%;
  }

  .techBlock {
    margin: 20px 10px;
  }

  .knowledgeSubBlock .container {
    padding: 0;
  }

  .mailPic {
    display: none;
  }

  #contactSection .row {
    padding: 10px;
  }

  form .container {
    padding: 0;
  }

  footer {
    padding: 25px 10px;
  }
}

/* Small screen */
@media screen and (min-width: 600px) and (max-width: 768px) {
  .profilePic {
    width: 50%;
  }

  .elementBlock {
    margin-top: 20px;
  }

  .cardPic {
    width: 200px;
    margin-right: 0;
  }

  .bgPic {
    width: 50%;
  }

  .knowBgPic {
    width: 100%;
  }

  .techBlock {
    margin: 20px 10px;
  }

  .knowledgeSubBlock .container {
    padding: 0;
  }
}

/* Medium Screen */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .profilePic {
    width: 50%;
  }

  .bgPic {
    width: 50%;
  }
  .knowBgPic {
    width: 100%;
  }

  footer {
    padding: inherit 50px;
  }

  footer .container {
    max-width: none;
  }
}

/* Large Screen */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .bgPic {
    width: 50%;
  }

  .knowBgPic {
    width: 100%;
  }

  .knowledgeBlock {
    margin: 0;
  }

  .mailPic {
    margin-left: -70px;
    z-index: -1;
    width: 40%;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* XL Screen */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .elementBlock {
    margin: 50px 20px;
  }

  .cardPic {
    width: 150px;
  }

  .knowledgeBlock {
    margin: 50px 0;
  }
}

/*************************/
