@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Ubuntu:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

:root {
  --main-color: #084a83;
  --second-color: #539ddb;
  --third-color: #c6e5f3;
  --bg-color: #ffffe7;
}

body {
  background-color: var(--bg-color);
  font-family: "Ubuntu", sans-serif;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  user-select: text;
  -webkit-user-select: text;
}

h3 {
  user-select: text;
  -webkit-user-select: text;
}
